@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --main-bg-color: #fefefe;
    --body-bg-color: #ECE8E8;
    --input-border: #EBF0FA;
    --gray: #B4B6C1;
    --green: #00A335;
    --green-hover: #0AC045;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}